<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Responsive + Encoding Meta Tag -->
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Stylesheet -->
    <style>
      .modal-dialog {
        width: 98%;
        height: 92%;
        padding: 0;
      }

      .modal-content {
        height: 99%;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link href="styles.css" rel="stylesheet"> -->
    <!-- Title -->
    <title>Text Summarizer</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Text Summarizer</a>
    </nav>

    <div id="main  " class="container mx-auto">
      <div id="news" class="mt-5 align-middle">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="minBox">Minimum Length</label>
            <input
              placeholder="Minimum Length"
              class="form-control ml-1"
              type="number"
              v-model.number="min"
              id="maxBox"
            />
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="maxBox">Maximum Length</label>
            <input
              placeholder="Maximum Length"
              class="form-control ml-1"
              type="number"
              v-model.number="max"
              id="maxBox"
            />
          </div>
        </div>

        <span>Enter Full Text:</span>
        <textarea
          v-model="fulltext"
          class="form-control mt-1"
          placeholder="add multiple lines"
          rows="10"
        ></textarea>

        <!-- <button v-on:click="gotoSummary">Greet</button> -->

        <button
          v-on:click="getSummary"
          type="button"
          class="btn btn-primary btn-sm btn-block mt-3 mb-3"
        >
          Get Summary
        </button>

        <div class="row">
          <div class="col text-center">
            <h2>Full Content</h2>
            <span>Length {{getLength(fulltext)}}</span>
            <p class="mt-3">{{fulltext}}</p>
          </div>
          <div class="col text-center">
            <h2>Summary</h2>
            <span>Length {{getLength(summary)}}</span>
            <p class="mt-3">{{summary}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Vue and Custom JavaScript -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script src="https://unpkg.com/vue@next"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const newsApp = {
      data() {
        return {
          fulltext: "",
          summary: "",
          min: 10,
          max: 328,
        };
      },
      methods: {
        getLength(str) {
          return str.length;
        },

        getSummary(article) {
          axios
            .post("[[ url_for('summary') ]]", {
              full_text: this.fulltext,
              min: this.min,
              max: this.max,
            })
            .then((response) => {
              this.fulltext = response.data.full_text;
              this.summary = response.data.summary[0].summary_text;
              console.log(this.summary);
            })
            .catch((error) => {
              console.log(error);
            });
        },
      },

      mounted() {
        // this.fetchApi();
      },
    };

    const app = Vue.createApp(newsApp).mount("#news");
  </script>
</html>
